html {
  background-color: #F7F9FD;
  line-height: 1.5;
}

body {
  color: #808D99;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1440px;
}

@media screen and (max-width: 1440px) {
  body {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 1.75vw;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 3vw;
  }
}

footer {
  background-color: #00252E;
  color: white;
  text-align: center;
}

header {
  align-items: flex-start;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
  overflow: hidden;
  max-width: 1440px;
}

/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #00252E, #00252E, white, #00252E, #00252E);
}

p {
  margin-top: 0;
}

.attribution > span {
  margin: 0 3em;
  font-size: 0.75em;
}
.attribution > span > a {
  color: #808D99;
  padding-top: 0.5em;
  text-decoration: none;
}
.attribution > span > a:visited {
  color: darkseagreen;
}
.attribution > span > a:hover {
  color: aquamarine;
}

.body-bottom {
  background-color: #00252E;
}

.body-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 80%;
  max-width: 1200px;
}

.bottom-try-it-free {
  background-color: white;
  /* height: 20em; */
  margin: 10em auto;
  padding: 4em;
  -webkit-box-shadow: 0 1px 30px 0 #7D7D7D;
  -moz-box-shadow: 0 1px 30px 0 #7D7D7D;
  box-shadow: 0 0 30px 0 #CDCDCD;
  text-align: center;
  width: 45%;
  min-width: 350px;
}
@media screen and (max-width: 600px) {
  .bottom-try-it-free {
    width: 90%;
    min-width: 0;
  }
}

.container {
  max-width: 1440px;
  overflow-x: hidden;
  position: relative;
}

.email {
  border-radius: 0.75em;
  font-size: 1.5em;
  height: 1.75em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  width: 98%;
}
.fab {
  font-size: 4em;
  margin: 0 0.2em;
}

.get_started_btn {
  background-color: #FF52BF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 10px 0 #7D7D7D;
  -moz-box-shadow: 0 1px 10px 0 #7D7D7D;
  box-shadow: 0 1px 10px 0 #7D7D7D;
  color: #F7F9FD;
  cursor: pointer;
  display: inline-block;
  max-height: 30%;
  margin: auto;
  padding: 0.75em 3em;
  text-align: center;
  text-decoration: none;
  /* max-width: 25vw; */
}

.get_started_btn:hover {
  -webkit-box-shadow: inset 0 1px 10px 0 #7D7D7D;
  -moz-box-shadow: inset 0 1px 10px 0 #7D7D7D;
  box-shadow: inset 0 1px 10px 0 #7D7D7D;
}

.intro-paragraph {
  margin: 0 auto 60%;
  text-align: center;
  width: 45%;
  max-width: 800px;
  min-width: 300px;
}

.legal {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
  max-width: 1440px;
}

.legal-left {
  margin-left: 2%;
  width: 25%;
  min-width: 200px;
}
@media screen and (max-width: 1100px) {
  .legal-left {
    margin: 0;
    order: 0;
    text-align: center;
    width: 100vw;
  }
}

.legal-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-left: 2%;
  margin-right: 2%; */
  width: 65%;
  max-width: 900px;
}
@media screen and (max-width: 1100px) {
  .legal-right {
    margin: auto;
    order: 1;
    width: 90vw;
  }
}

.legal-2 {
  /* flex-grow: 3; */
  width: 20%;
  max-width: 250px;
  min-width: 200px;
}

.legal-3 {
  /* flex-grow: 3; */
  width: 20%;
  max-width: 250px;
  min-width: 200px;
}

.legal-4 {
  /* flex-grow: 6; */
  /* margin-right: 2%; */
  width: 40%;
  max-width: 400px;
  min-width: 300px;
}
@media screen and (max-width: 900px) {
  .legal-4 {
    margin: 20px auto 0;
    text-align: center;
    min-width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .legal-4 {
    min-width: 300px;
  }
}


.logo_img {
  margin: 5% 6%;
  width: 20%;
  max-width: 30vw;
}

.middle-text {
  text-align: left;
  margin-left: 3%;
  width: 45%;
  min-width: 350px;
}

@media screen and (max-width: 720px) {
  .middle-text {
     text-align: center;
  }
}

.mockups_img {
  margin: 0 auto 2em;
  width: 100%;
  max-width: 800px;
}

.nudged-down {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.purple_rectangle {
  background-image: linear-gradient(to right, #FF52BF, #9A52FF);
  -webkit-border-radius: 7.5vw;
  -moz-border-radius: 7.5vw;
  border-radius: 7.5vw;
  height: 78vw;
  max-height: 80%;
  left: 38vw;
  position: absolute;
  top: -16vw;
  transform: rotate(53deg);
  width: 116vw;
  z-index: -1;
}

.subscribe {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
}

.subscribe_btn {
  background-color: #FF52BF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 10px 0 #7D7D7D;
  -moz-box-shadow: 0 1px 10px 0 #7D7D7D;
  box-shadow: 0 1px 10px 0 #7D7D7D;
  color: #F7F9FD;
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-bottom: 100px;
  padding: 0.5em 3em;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .subscribe_btn {
    margin: 0 auto 90px;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
    min-width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .subscribe_btn {
    min-width: 300px;
  }
}

.subscribe_btn:hover {
  -webkit-box-shadow: inset 0 1px 10px 0 #7D7D7D;
  -moz-box-shadow: inset 0 1px 10px 0 #7D7D7D;
  box-shadow: inset 0 1px 10px 0 #7D7D7D;
}

.subscribe-text {
  display: block;
  margin: auto;
  width: 80%;
}

.try_it_free_btn {
  background-color: #F7F9FD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 10px 0 #7D7D7D;
  -moz-box-shadow: 0 1px 10px 0 #7D7D7D;
  box-shadow: 0 1px 10px 0 #7D7D7D;
  color: #554D7E;
  max-height: 30%;
  margin: 5% 6% 0;
  padding: 0.75em 3em;
  text-align: center;
  text-decoration: none;
  max-width: 25vw;
  cursor: pointer;
}

.try_it_free_btn:hover {
  -webkit-box-shadow: inset 0 1px 10px 0 #7D7D7D;
  -moz-box-shadow: inset 0 1px 10px 0 #7D7D7D;
  box-shadow: inset 0 1px 10px 0 #7D7D7D;
}

.users-illustration {
  width: 100%;
}

.user-illustration-box {
  margin: 4em 3% 8em 0;
  width: 45%;
  min-width: 350px;
}

.white-logo {
  width: 100%;
  max-width: 30vw;
}
.white-logo-container {
  padding: 3%;
  width: 40%;
  max-width: 1440px;
}
@media screen and (max-width: 900px) {
  .white-logo-container {
    margin: auto;
  }
}

.white_rectangle {
  background-color: white;
  -webkit-border-radius: 7rem;
  -moz-border-radius: 7rem;
  border-radius: 7.5vw;
  height: 70vw;
  max-height: 72%;
  left: 0;
  position: absolute;
  top: 10rem;
  transform: rotate(-30deg);
  width: 116vw;
  z-index: -2;
}
@media screen and (min-width: 1400px){
  .purple_rectangle {
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
    height: 1123px;
    left: 547px;
    top: -230px;
    width: 1670px;
  }
  .white_rectangle {
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
    height: 1123px;
    left: 0;
    position: absolute;
    top: 10rem;
    transform: rotate(-30deg);
    width: 1670px;
    z-index: -2;
  }
}
